# Calendly Integration
NEXT_PUBLIC_CALENDLY_URL="https://calendly.com/use-hive/15-min"

# Google Sheets Integration Webhook URL (SheetDB)
GOOGLE_SHEET_WEBHOOK_URL="https://sheetdb.io/api/v1/wmr37vebck4c6"
